src/main/mule/game-title-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <apikit:config name="game-title-api-config" api="game-title-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <os:object-store name="Object_store" doc:name="Object store" doc:id="d750b553-1a41-4612-a1bf-b8668c6787d3" persistent="false" />
    <api-gateway:autodiscovery apiId="17099448" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="cedbe645-1f65-4974-9d44-01b55f22819c" flowRef="game-title-api-main" />
    
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f84d033a-bdca-4fa9-bcae-af6f0e4d2a35">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="87d8e651-bf8d-4e3e-bcb7-923a24d1f76a" >
		<salesforce:basic-connection username="${sf.user}" password="${sf.password}" securityToken="${sf.security_token}"/>
	</salesforce:sfdc-config>
    
    <configuration-properties doc:name="Configuration properties" doc:id="29b8d890-0baa-4397-af62-730da0035469" file="config.yaml" doc:description="config.yaml"/>
	<flow name="game-title-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="game-title-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="game-title-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="game-title-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\retrieve:game-title-api-config">
        <logger level="INFO" message="get:\retrieve:game-title-api-config" />
        <salesforce:query doc:name="Query" doc:id="750c9306-a4f2-4480-b752-debf7cd47886" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Id, Name, Platform__c, Publishers__c, Release_Date__c, Title_ID__c, Developers__c, Status__c, Jira_ID__c
 from Game__c 
where Title_ID__c != '']]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Transform Message" doc:id="20ce98f6-ef69-49d6-a91b-6c25319c5d37">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\create:application\json:game-title-api-config">
        <logger level="INFO" message="post:\create:application\json:game-title-api-config" />
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="d8fd36e8-95ee-4d9e-8772-9118f71da630" variableName="inPay" />
        <os:retrieve doc:name="Retrieve" doc:id="488cfe68-47d2-4262-9418-5f8f74fd4223" key="err" objectStore="Object_store" target="simErr">
            <os:default-value><![CDATA[#["0"]]]></os:default-value>
        </os:retrieve>
        <choice doc:name="Choice" doc:id="84c0d446-54e1-4028-bed3-380733451321">
            <when expression="#[vars.simErr == &quot;0&quot;]">
                <set-payload value="#[vars.inPay]" doc:name="Set Payload" doc:id="d304b8cf-d276-4d21-95ec-04db5bf2ff75" />
                <ee:transform doc:name="Transform Message" doc:id="49fdff82-0e27-4b1e-ae06-ec30503f6e52">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.data.name,
	Platform__c: payload.data.platform,
	Title_ID__c: payload.data.title_id,
	Release_Date__c: payload.data.release_date,
	Developers__c: payload.data.developers,
	Publishers__c: payload.data.publishers,
	Status__c: payload.data.status,
	Jira_ID__c: payload.data.jira_id
}]]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <salesforce:upsert objectType="Game__c" externalIdFieldName="Title_ID__c" doc:name="Create and Update" doc:id="1f5e60fd-8c22-4635-820f-5840e88895d3" config-ref="Salesforce_Config" />
                <ee:transform doc:name="Response" doc:id="c0679ca5-7145-4990-9a56-f6b8aec5fd89">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items[0].payload]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="Transform Message" doc:id="83255fab-0125-4844-bcfa-9eb783f1c230">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"error": "An error occurred"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <raise-error doc:name="Raise error" doc:id="c07569bd-082a-41b2-87d0-7179937a57a4" type="MULE:CONNECTIVITY" />
            </otherwise>
        </choice>
    </flow>
    <flow name="post:\update:application\json:game-title-api-config">
        <logger level="INFO" message="post:\update:application\json:game-title-api-config" />
        <flow-ref doc:name="Flow Reference" doc:id="8fc5efcd-30ea-4c05-80ec-0fab5a3d3e31" name="post:\create:application\json:game-title-api-config" />
    </flow>
    <flow name="get:\retrieve\(ID):game-title-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <salesforce:query doc:name="Copy_of_Query" doc:id="64f88495-5d2e-4016-b23a-03ef05977f3e" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Id, Name, Platform__c, Publishers__c, Release_Date__c, Title_ID__c, Developers__c, Status__c, Jira_ID__c
from Game__c 
where Title_ID__c = ':id']]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	"id" : vars.ID as String
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform doc:name="Copy_of_Transform Message" doc:id="bcbe3046-3ad9-4d79-9070-d17854d82e32">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\query\(ID):game-title-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <salesforce:query doc:name="Copy_of_Copy_of_Query" doc:id="36b28ba7-210d-41c3-beef-c5a6ddf42371" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Id, Name, Platform__c, Publishers__c, Release_Date__c, Title_ID__c, Developers__c, Status__c, Jira_ID__c
from Game__c 
where Id = ':id']]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	"id" : vars.ID as String
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\sim:game-title-api-config">
        <logger level="INFO" message="get:\sim:game-title-api-config" />
        <os:store doc:name="Store" doc:id="d719a72f-9429-426c-b2d6-47430c0d4d33" key="err" objectStore="Object_store">
            <os:value><![CDATA[#[message.attributes.queryParams.err as String default "0"]]]></os:value>
        </os:store>
    </flow>
</mule>
